.cursor/

.terraform
.terraform*
terraform.tfstate*

*.tgz
*.lock

megalinter-reports/

apps/web-app/public/data/data.json

__pycache__
.pytest_cache

*.zip

.vscode/

.docker-compose/fluent-bit/*.db
.wrangler/
.dev.vars
